body {
	margin: 0;
	padding: 0;
    background-color: #b0e0e6;
}

section {
    width: 100%;
    height: 500px;
    background-color: #b0e0e6;
    margin: auto;
    padding: 10px;
}
div#robot_control {
    width: 50%;
    height: 500px;
    float: left;
}
div#video {
    margin-left: 50%;
    height: 500px;
}

